body {
    background-color: #ffb0dd9a; /* Color de fondo */
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    height: 70px;
    background-color: #ff84c6 ;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

img{
    max-width: 100%;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

.header-content{
    display: flex;
}
.header-txt{
    width: 50%;
}
h1{
    text-align: center;
    color: black;
}
h2{
    text-align: center;
    color: black;
}
.im img{
  align-items: center;
  width: 100%;
  border-radius: 20px;
}
p{
    text-align: center;
    color: black;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #fff;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #F7BAB9;
    font-family: 'sans-serif';
    color: black;
}
img{
    width: "200";
    align-items: center;
}

footer {
    background-color: #ff84c6 ;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Diseño responsive */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }
    th, td {
        padding: 8px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }
    h1 {
        font-size: 20px;
    }
}

